<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <title>User Balance</title>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>

            <hr />

            <h4>Add Balance</h4>

            <form autocomplete="off" action="#" th:action="@{/employee/addBalance}" method="post" class="m-t" role="form" data-toggle="validator">


                <div th:if="${messageSuccess}" class="alert alert-success" role="alert" th:text=${messageSuccess}></div>

                <div th:if="${userNotFound}" class="alert alert-danger" role="alert" th:text="${userNotFound}"></div>

                <input type="hidden" th:field="${user.userId}" placeholder="Movie name" class="form-control" />

                <div class="form-group input-group has-feedback">
                    <span class="input-group-addon">
            <span>User Name</span>
                    </span>
                    <input type="text" th:field="${user.userName}" placeholder="User Name" class="form-control" />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <h4>Select Balance</h4>
                <select th:field="${user.balance}">
                     <option value="20000"> Rp.20000 </option>
                     <option value="50000"> Rp.50000 </option>
                     <option value="100000"> Rp.100000 </option>
          </select>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <div style="margin-top:30px">
                    <button type="submit" class="btn btn-primary block full-width m-b">Add Balance</button>
                </div>
                <div style="margin-top:30px">
                    <a href="/employee">Back</a>
                </div>
            </form>
            <p class="m-t">

            </p>
        </div>
    </div>


    <!-- jQuery-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Bootstrap Validator plugin -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>


</body>

</html>