<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Login</title>
	    <link rel="stylesheet" type="text/css"
		href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	
		<link rel="stylesheet" th:href="@{/css/main.css}"
		href="../../css/main.css" />
 	</head>


<body>

	<div>
   		
   <nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Aegis Movie</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:if="${#request.userPrincipal != null}" th:href="@{/userInfo}">User Info</a></li>
					<li><a th:if="${admin == 'ADMIN'}"th:href="@{/admin}">Admin</a>
					<li><a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
  
</div>

<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
	<h1>Login</h1>
 
	<div th:if="${#request.getParameter('error') == 'true'}"
      	style="color:red;margin:10px 0px;">
       	Login Failed!<br />
       	Reason : Invalid user name and/or password
    </div>
   
    <h3>Enter user name and password:</h3>
    <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
       <table>
          <tr>
             <td>User:</td>
             <td><input type='text' name='username' value=''></td>
          </tr>
          <tr>
             <td>Password:</td>
             <td><input type='password' name='password' /></td>
          </tr>
          <tr>
             <td><input name="submit" type="submit" value="submit" /></td>
          </tr>
       </table>
    </form>
    
    <script type="text/javascript"
src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     
 </body>
   
</html>