<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Logout</title>
      <link rel="stylesheet" type="text/css"
			href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<link rel="stylesheet" th:href="@{/css/main.css}"
			href="../../css/main.css" />
   </head>
    
   <body>
      
       
      <h1>Logout Successful!</h1>
      <p><a th:href="@{/}">Back Home</a></p>
      <script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </body>
    
</html>