<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css"
			href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<link rel="stylesheet" th:href="@{/css/main.css}"
			href="../../css/main.css" />
			<title>Movie management screen</title>
</head>
<body>
<h1>Movie</h1>
<h2> <a th:href = "@{/admin/movie/add}">ADD New Movie</a></h2>

    <ul>
    <th:block th:each="movie : ${movies}">
    	<li th:text="${movie.movieName}"></li>
		<li><img th:src="@{${movie.posterLink}}" alt="My Image"></li>
		<li><a th:href="@{${movie.imdbLink}}" target="_blank">Description</a></li>
		<li th:text="${movie.releaseDate}"></li>
    </ul>
   	</th:block>
</body>
</html>
