<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My Transaction</title>
<script>
function myFunction() {
    var r =confirm("Are you sure you want to cancel your booking?");
    if(r==true){
    	return true;
    }else {
    	return false;
    }
}
</script>
</head>
<body>
<div th:if="${error}"
          class="alert alert-danger" role="alert"
          th:text="${error}"></div>
          
          <div th:if="${success}"
          class="alert alert-success" role="alert"
          th:text="${success}"></div>
	<ul>
    <th:block th:each="b : ${books}" th:if="${transaction == null}">
    	<li th:text="${b.bookingId}"></li>
    	<li th:text="${b.bookingDate}"></li>
    	<li th:if="${b.status == false}">Not yet confirmed</li>
    	<li th:if="${b.status == true}">Confirmed</li>
    	<li> <a th:href="@{/transaction(booking = ${b.bookingId})}">Booking Detail</a></li>
    	<li> <a th:href="@{/transaction(transaction = ${b.bookingId})}" onclick="return myFunction()">Cancel booking</a></li>
		<h1></h1>
   	</th:block>
   	</ul>
   	
   	<ul>
    <th:block th:if="${detail != null}">
    	<li th:text="${branch.address}"></li>
    	<li th:text="${room.type}"></li>
    	<li th:text="${movie.movieName}"></li>
    	<li th:text="${room.price}"></li>
    	<li><a href = "/transaction">Back</a></li>
		<h1></h1>
   	</th:block>
   	</ul>
   	
</body>
</html>