<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>User Info</title>
      <link rel="stylesheet" type="text/css"
			href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<link rel="stylesheet" th:href="@{/css/main.css}"
			href="../../css/main.css" />
   </head>
   <body>
      <div >
   		
   <nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Aegis Movie</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:if="${#request.userPrincipal != null}" th:href="@{/userInfo}">User Info</a></li>
					<li><a th:if="${admin == 'ADMIN'}"th:href="@{/admin}">Admin</a>
					<li><a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
  
</div>

<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       
       
      <h2>User Info Page</h2>
      <h3>Welcome : <span th:utext="${user.userName}"></span></h3>
      <h3>Balance : Rp.<span th:utext="${user.balance}"></span></h3>
      <h3><a th:href="@{/booking}">Book room</a></h3>
      <h3><a th:href="@{/transaction}">My Transaction</a></h3>
     
   </body>
    
</html>